apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  labels:
    app: exampleservice
  name: exampleservice
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: exampleservice
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75

